/* src/pages/ArticleDetail.css */
.article-detail {
  min-height: 100vh;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s;
}

.article-detail.not-found {
  display: flex;
  align-items: center;
  justify-content: center;
}

.article-detail .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.back-button {
  display: inline-flex;
  align-items: center;
  color: var(--primary-color);
  text-decoration: none;
  font-size: 1rem;
  margin-bottom: 20px;
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
}

.back-button .icon {
  margin-right: 8px;
  font-size: 1.2rem;
}

.article-content {
  max-width: 800px;
  margin: 0 auto;
  /* background-color: white; */
  border-radius: 8px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  overflow: hidden;
}

.article-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}



.content h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--text-color);
  text-align: start;
}

.content h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--text-color);
}

.date {
  font-size: 0.875rem;
  color: var(--text-color-light);
  margin-bottom: 20px;
}

.text p {
  color: var(--text-color-light);
  margin-bottom: 20px;
  line-height: 1.6;
}


@media (min-width: 768px) {
  .app {
    padding-top: 60px;
  }

  .back-button {
    top: 40px;
  }

  .content {
    padding: 20px;
  }
}